@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Georama:wght@600&family=Gurajada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Carrois Gothic SC", sans-serif;
  /* font-family: "Chelsea Market", cursive; */
  /* font-family: 'Overlock SC', cursive; */
}

body {
  position: relative;
}

/* #c33764 → #1d2671 */
.loader_container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dynamicpage_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 100px);
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  background: url("../components/bgi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.dynamicpage_container a {
  text-decoration: none;
  padding: 9px 25px;
  margin: 20px auto;
  border: 1px solid #fefefe;
  font-weight: 600;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  background: #090979;
  color: #fefefe;
}

.dynamicpage_container a:hover {
  background: #0d0da8;
}

.dynamicpage_container a:active {
  background: #1010d8;
}

.dynamicpage_container .image_one {
  position: absolute;
  left: 10%;
  z-index: 1;
  width: 150px;
  aspect-ratio: 1;
}

.dynamicpage_container .image_one img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dynamicpage_container .image_one_one {
  top: 10%;
}

.dynamicpage_container .image_one_two {
  top: 30%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dynamicpage_container .image_one_three {
  top: 50%;
}

.dynamicpage_container .image_one_three img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dynamicpage_container .image_one_four {
  top: 70%;
}

.dynamicpage_container .image_one_four img {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.dynamic_card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 8px 1px #020024;
          box-shadow: 0 1px 8px 1px #020024;
  margin: 50px auto;
  width: 95%;
  max-width: 800px;
  z-index: 2;
}

.dynamic_card_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: white;
  z-index: -1;
}

.dynamic_card_box h1 {
  margin: 20px 0;
  font-family: "Carrois Gothic SC", sans-serif;
  color: #00d4ff;
}

.dynamic_card_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.dynamic_card_container .dynamic_left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-right: 10px;
}

.dynamic_card_container .dynamic_left_side img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dynamic_card_container .dynamic_right_side {
  margin: 40px auto;
  background: linear-gradient(65deg, #020024, #090979, #00d4ff);
  border: 1px solid gray;
  color: #fefefe;
  padding: 20px 30px;
  min-width: 320px;
}

.dynamic_card_container .dynamic_right_side h3 {
  margin: 10px auto;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #c33764;
  font-size: 26px;
}

.dynamic_card_container .dynamic_right_side h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  font-size: 15px;
}

.dynamic_card_container .dynamic_right_side ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  font-size: 14px;
  font-weight: 600;
}

.dynamic_card_container .dynamic_right_side ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
}
/*# sourceMappingURL=DynamicPage.css.map */